
.deneme1 {
    width: 500px;
    height: 300px;
    padding: 20px;
    border-radius: 1px;
    position: relative;
    margin: auto;
}
.divsek{
    margin: auto;
    
}
.buttondeneme{
    text-align: right;
}